@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    font-family: "lato", sans-serif;
}

header {
    width: 100%;
    height: 80px;
    position: relative;
    background: #233037;
}
.navbar {
    display: inline-block;
}
.navbar img {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.navbar span {
    position: absolute;
    color: #fff;
    left: 5%;
    top: 26px;
}
span h {
    color: #ffde59;
}

h2 {
    font-size: 3rem;
    font-weight: bold;
    padding: 3rem;
}
.coming-soon {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.countdown {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: -19px;
}
.day,
.hour,
.minute,
.second {
    font-size: 1.7rem;
}
.waiting {
    height: 50vh;
    margin-top: 30px;
}
footer {
    background: #fff;
    height: auto;
    width: 100%;
    font-family: sans-serif;
    /* padding: 15px; */
    position: relative;
}
hr {
    margin-bottom: 5px;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3 {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 2.5rem;
}
.footer-content p {
    margin: 4px auto;
    line-height: 22px;
    font-size: 14px;
}
.footer-content p h {
    font-weight: bold;
}
.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 5px;
    float: right;
    margin-right: 7px;
}
.socials li {
    margin: 0 10px;
}
.socials a i {
    color: #fff;
    font-size: 1.5rem;
    transition: color 0.4s ease;
}
.socials a:hover i {
    color: dodgerblue;
}
.socials a i {
    font-size: 1.5rem;
}
.footer-bottom {
    height: 30px;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    background: #233037;
    color: #fff;
    bottom: 0%;
    /* position: absolute; */
}
.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

@media only screen and (max-width: 500px) {
    h2 {
        font-size: 1.5rem;
    }
    .container {
        margin-top: -154px;
    }
    .coming-soon {
        min-height: 80vh;
    }
    .day,
    .hour,
    .minute,
    .second {
        font-size: 1rem;
    }
    .waiting {
        height: 40vh;
        width: 300px;
        margin-top: 20px;
    }
    .navbar img {
        left: 2px;
    }
    .navbar span {
        left: 13%;
    }
    .footer-content h3 {
        padding: 2px 0;
        font-size: 1.3rem;
        line-height: 2rem;
    }
    .socials a i {
        font-size: 1.3rem;
    }
    .footer-bottom p {
        font-size: 12px;
    }
}
