@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "lato", sans-serif;
}
h2 {
    font-size: 3rem;
    font-weight: bold;
    padding: 3rem;
}
.coming-soon {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.countdown {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.day,
.hour,
.minute,
.second {
    font-size: 1.7rem;
}
.waiting {
    height: 50vh;
    margin-top: 20px;
}
